@switch (currentEventType()) {
  @case ('SUBSCRIPTION') {
    @let event = subscriptionEvent();
    <div class="alert-container" [style.animation-duration]="config.subscriptionEventDurationMS + 'ms'">
      <div class="event-wrapper">
        <img class="background-image" src="/assets/gifs/subscription.gif?t=0" alt="">
        @if (eventSubjectProfilePicUrl()) {
          <img class="profile-picture subscription" [src]="eventSubjectProfilePicUrl()" alt="Profile Picture">
        }
      </div>

      <div class="alert-content">
        <span class="username">{{ event.subjectUsername }}</span> subscribed!
      </div>
    </div>
  }
  @case ('SUBSCRIPTION_GIFTED') {
    @let event = subscriptionGiftedEvent();
    <div class="alert-container" [style.animation-duration]="config.subscriptionGiftedEventDurationMS + 'ms'">
      <div class="event-wrapper">
        <img class="background-image" src="/assets/gifs/subscription.gif?t=0" alt="">
        @if (eventSubjectProfilePicUrl()) {
          <img class="profile-picture subscription-gifted" [src]="eventSubjectProfilePicUrl()" alt="Profile Picture">
        }
      </div>

      <div class="alert-content">
        <span class="username">{{ event.subjectUsername }}</span> gifted {{ event.giftedTotal }} subs!
      </div>
    </div>
  }
}
